// padding start
.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
// padding end

.d-flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.d-flex-end {
  display: flex !important;
  align-items: center !important;
  justify-content: end !important;
}
