// log-in-page scss start
.log-in-page{
    position: relative;
    height: 100vh;
    background-color: #eaf4fb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-btn-title {
    position: absolute;
    top: 30px;
    right: 40px;
	font-size: 25px;
}
.log-in-page-logo{
    max-width: 200px;
}
.log-in-content-wrapper{
	background-color: #fff;
	padding: 50px;
}
.log-in-content-wrapper {
	text-align: center;
}
.log-in-title {
	font-size: 27px;
	margin-bottom: 5px;
    color: $main-color;
}
.log-in-details {
	font-size: 17px;
}
.log-in-title-wrapper {
	margin-bottom: 25px;
}
.log-in-form-input-wrapper{
	text-align: left;
    margin-bottom: 15px;
}
.log-in-form-input-title{
    font-weight:400;
    font-size: 17px;
    color: #1e3547;
    margin-bottom: 10px;
}
.log-in-form-input {
	width: 100%;
	padding: 10px;
    border: 1px solid rgba(30, 39, 59, 0.35);
    &:focus{
        outline: none;
    }
}
.log-in-form-chechbox{
    margin-right: 5px;
}
.log-in-btn{
    width: 100%;
    font-size: 18px;
}
.forget-password-content {
	font-size: 17px;
}
// log-in-page scss end